/* File: assets/css/twc.css
 * Info: CSS styles for all The Weather Channel looking stuff
 */
/* #geo{} */

.field_name {
    border: 1px groove #333;
    text-align: left;
    font-weight: bold;
    padding: 3px;
    background: #0c75bc;
    color: #fff;
    text-shadow: var(--tsh);
    /* YES! We can do this! */
    position: sticky;
    left: 0;
}

.field_value {
    border: 1px inset #333;
    padding: 3px;
    text-align: center;
}

/* The plan here is to put the day of the week in one of these columns in our forecast */
.col_name {
    border: 1px groove #333;
    font-weight: bold;
    text-align: center;
    background: #0c75bc;
    color: #fff;
    text-shadow: var(--tsh);
}

/* pod = d */
.pod_day {
    background: hsl(200,100%,50%); /* #0c75bc; */
    color: #efefef;
}
/* pod = n */
.pod_night {
    background: hsl(200,25%,50%);   /* Like .pod_day, but less saturated */
    color: #efefef;
}

/* TODO: Rename to just #weather later */
#current{
    /* display: flex; */
    padding: 3px;
    display: grid;
    /* NOTE: grid-auto-flow: row. In the next table, it will go the other way */
    /* TODO: Swtich from px to em? */
    grid-template-columns: [key] 0.25fr [value] 1fr [end];
    grid-template-rows: [location] 25px 
                        [obs_time] 25px 
                        [conditions] 100px 
                        [temperature] 50px 
                        [feels_like] 25px 
                        [pressure] 50px 
                        [humidity] 25px
                        [dewpoint] 25px
                        [wind] 50px
                        [cloud_cover] 25px
                        [visibility] 25px
                        [precip] 100px
                        [sunrise] 25px
                        [sunset] 25px 
                        [end];
    border: 1px outset #333;
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

/* TODO: Rename to just #forecast later */
/* TODO: Column headers! */
#soon{
    padding: 3px;
    display: grid;
    grid-auto-flow: column; /* This will allow us to enter our data from top to bottom with columns! */
    grid-template-columns: [key] 250px repeat(40, [value] 200px) [end];
    grid-template-rows: [dotw] 25px
                        [time] 25px
                        [conditions] 100px 
                        [temperature] 50px
                        [feels_like] 50px
                        [pressure] 50px 
                        [humidity] 25px
                        [dewpoint] 25px
                        [wind] 50px
                        [cloud_cover] 25px
                        [visibility] 25px
                        [pop] 25px
                        /* [pod] 25px */    /* pod is kind of useless like this. Makes more sense for styling. */
                        /* [sunrise] 25px
                        [sunset] 25px */ 
                        [precip] 50px
                        [end];
    border: 1px inset #333;
    /*box-shadow: 5px 5px 3px 5px #ccc inset; */ /* TODO: Is there a way that the box shadow can hover above grid items?  */
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    overflow-x: auto;
    /* TODO: Format scrollbar */
}
